{% macro init_query(queries) -%}
    {% if queries is iterable and queries is not string %}
        {% set all_queries = queries|join(',') %}
    {% elif queries is string %}
        {% set all_queries = queries %}
    {% endif %}

    {% set redirect_url = "/" + payload['page_requested'] + "?init_query=" + all_queries  %}
    {% if 'Queries' in payload['DB'] %}
        {% set actual_queries = payload['DB']['Queries']|join(',') %}
        {% if all_queries == actual_queries %}
        {% else %}
            <h1>{{redirect_url}}</h1>
            <meta http-equiv="refresh" content="0; URL={{redirect_url}}" />
        {% endif %}
    {% else %}
        <h1>{{redirect_url}}</h1>
        <meta http-equiv="refresh" content="0; URL={{redirect_url}}" />
    {% endif %}
{%- endmacro %}