
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nepheli Employees</title>

  {% include 'forbidden/default_styles.html' %} 

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'forbidden/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'forbidden/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Employees</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <a href="/#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#employeesModal">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add</span>
              </a>
            </div>
            <!-- [START] TABLE DEFAULT -->
            {% set Hotels = payload['DB']['Results']["Get All Hotels"] %}
            {% set Positions = payload['DB']['Results']["Get All Positions"] %}
            {% set Employee = payload['DB']['Results']["Get All Employees"] %}
            {% set new_columns = ["Hotel", "Department", "Position", "Uploads"] %}
            {% set col_list = ["First Name", "Last Name"]|merge_list(new_columns) %}
              <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          {% for i in col_list %}
                            <th>{{i}}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                        <tfoot>
                          <tr>
                            {% for i in col_list %}
                              <th>{{i}}</th>
                            {% endfor %}
                          </tr>
                        </tfoot>
                      <tbody>
                        {% for rec in Employee %}
                        {% set enum = loop.index - 1 %}
                        <tr>
                          {% for i in col_list %}
                              {% if i not in (new_columns) %}
                                <td><a href="/one_employee?employee_ID={{rec['ID']}}" target="_blank"> {{ rec[i] }} </a></td>
                              {% else %}
                                {% if i not in ["Uploads"] %}
                                  {% set meta = Employee[enum]['metadata']|dict2q('2dict') %}
                                  {% set key =  meta['Request'] %}
                                  <td> <a href="/one_employee?employee_ID={{rec['ID']}}" target="_blank"> {{ key[i] }}</a> </td>
                                {% else %}
                                  <td>
                                    {% set UPLOADS = rec[i]|dict2q('2dict') %}
                                    {% if UPLOADS is none %}

                                    {% else %}
                                      {% for item in UPLOADS %}
                                        <a href="/file_download?uuid='{{rec['unique_id']}}'&file='{{item}}'" target="_blank"> {{ item }}</a>
                                        </br>
                                      {% endfor %}
                                    {% endif %}
                                  </td>
                                {% endif %}
                              {% endif %}
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            <!-- [END] TABLE DEFAULT -->
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="/#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <!-- inside top bar-->
  
  <!-- Employees Modal-->
  {% include 'forbidden/employees_modal.html' %}


  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('static', path='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', path='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static', path='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{url_for('static', path='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{url_for('static', path='js/demo/datatables-demo.js') }}"></script>

  <!-- Select2 script  -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
        $('#jsgender').select2();
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#jsposition').select2();
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#jsdepartment').select2();
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#jshotel').select2();
    });
  </script>

</body>

</html>