<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nepheli Positions</title>

  {% include 'forbidden/default_styles.html' %} 

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
{% include 'forbidden/positions_modal.html' %}
     <!-- Sidebar -->
    {% include 'forbidden/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'forbidden/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Positions</h1>
          <p class="mb-4"></p>
          <!--
            <h3>Payload</h3>
            {% for k, v in  payload.items() %}
              <ul>
                <label style="color:red;">{{k}}</label>
                {% if v is iterable and v is not string %}
                  {% if v is iterable and (v is not string and v is not mapping) %} 
                    {% for e in v %}
                      <li>{{e}}</li>
                    {% endfor %}
                  {% else %}
                    {% for k2, v2 in v.items() %}
                      <li>{{k2}} - {{v2}}</li>
                    {% endfor %}
                  {% endif %}
                {% else %}
                  <li>{{v}}</li>
                {% endif %}
              </ul>
            {% endfor %}
          -->
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <a href="/#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#positionsModal">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add</span>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          {% set col_list = ["Title", "Department", "Hotel"] %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          {% for i in col_list %}
                            <th>{{i}}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                        <tfoot>
                          <tr>
                            {% for i in col_list %}
                              <th>{{i}}</th>
                            {% endfor %}
                          </tr>
                        </tfoot>
                      <tbody>
                        {% for rec in payload['DB']['Results']['Get All Positions'] %}
                        <tr>
                          {% for i in col_list %}
                            <td><a href="/one_employee?id={{rec['ID']}}" target="_blank"> {{ rec[i] }} </a></td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="/#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('static', path='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', path='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static', path='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{url_for('static', path='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{url_for('static', path='js/demo/datatables-demo.js') }}"></script>

</body>

</html>