  <div class="modal fade" id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%;" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/employees" method="post" name="Database Query" enctype="multipart/form-data">
            <input type="hidden" name="query_names" value="Insert New Employee">

            <div class="form-row">
              <div class="form-group col">
                <h4>Basic Info</h4>
                <hr></hr>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputfirstname">First Name</label>
                <input type="text" name="First Name" class="form-control">
              </div>
              <div class="form-group col">
                <label for="inputlastname">Last Name</label>
                <input type="text" name="Last Name" class="form-control">
              </div>
              <div class="form-group col">
                <label for="RequestHotel">Position Requested</label>
                {% set m_key = "Title" %}
                {% set side_k = ["Hotel"] %}
                {% set extra = ["ID", "Department"] %}
                {% set Positions = Positions|group_dict(m_key, side_k, extra) %}
                <select id="jshotel" class="form-control" style="width: 100%;" name="*metadata.Request.Position">
                  <!-- data-select2-id="select2-data-64-hggy" -->
                  {% for k,v in Positions.items() %}
                    <optgroup label="{{k}}"> 
                      {% for rec in v[m_key] %}
                          {% for data in rec %}
                            <option value="{{data[1]['ID']}}">&nbsp;&nbsp;&nbsp;&nbsp;{{data[0]}} - {{data[1]['Department']}} [{{k}}]</option>
                          {% endfor %}
                      {% endfor %}
                    </optgroup>
                  {% endfor %}
                </select>
              </div>
            </div>
            <h4>Civil Data</h4>
            <hr></hr>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputgender">Gender</label>
                <select id="jsgender" class="form-control" style="width: 100%;" name="*metadata.Civil.Gender" multiple="multiple">
                    <option value="Transgender">Transgender</option>
                    <option value="Female">Female</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Pangender">Pangender</option>
                    <option value="Genderqueer">Genderqueer</option>
                    <option value="Third_gender">Third Gender</option>
                    <option value="Other">Other</option>
                    <option value="Male">Male</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="inputbirthdate">Birth Date</label>
                <input type="date" name="*metadata.Civil.Birthday" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Position">Father Name</label>
                <input type="text" name="*metadata.Civil.Father Name" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Position">Father SurName</label>
                <input type="text" name="*metadata.Civil.Father SurName" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Position">Mother Name</label>
                <input type="text" name="*metadata.Civil.Mother Name" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Position">Mother SurName</label>
                <input type="text" name="*metadata.Civil.Mother SurName" class="form-control">
              </div>
            </div>
            <h4>Contact Info</h4>
            <hr></hr>
            <div class="form-row">
              <div class="form-group col">
                <label for="Address">Address</label>
                <input type="text" name="*metadata.Contact.Address" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Email">Email</label>
                <input type="email" name="*metadata.Contact.Email" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Land Line">Phone</label>
                <input type="text" name="*metadata.Contact.Land Line" class="form-control">
              </div>
              <div class="form-group col">
                <label for="Mobile">Mobile</label>
                <input type="text" name="*metadata.Contact.Mobile" class="form-control">
              </div>
            </div>
            <h4>Legal Data</h4>
            <hr></hr>
            <div class="form-row">
              
              <div class="form-group col">
                <label for="Οικογενειακά">Οικογενειακά</label>
                <select class="form-control" style="width: 100%;" name="*metadata.Legal.Οικογενειακά">
                    <option value="ΑΓΑΜΟΣ">Άγαμος</option>
                    <option value="ΕΓΓΑΜΟΣ">Έγγαμος</option>
                    <option value="ΔΙΑΖΕΥΓΜΕΝΟΣ">Διαζευγμένος</option>
                </select>
              </div>

              <div class="form-group col">
                <label for="Παιδιά">Παιδιά</label>
                <input type="number" name="*metadata.Legal.Παιδιά" class="form-control">
              </div>

              <div class="form-group col">
                <label for="ΑΦΜ">ΑΦΜ</label>
                <input type="text" name="*metadata.Legal.ΑΦΜ" class="form-control">
              </div>

              <div class="form-group col">
                <label for="ΑΜΚΑ">ΑΜΚΑ</label>
                <input type="text" name="*metadata.Legal.ΑΜΚΑ" class="form-control">
              </div>

              <div class="form-group col">
                <label for="Κάρτα Ανεργίας">Κάρτα Ανεργίας</label>
                <input type="text" name="*metadata.Legal.Κάρτα Ανεργίας" class="form-control">
              </div>

              <div class="form-group col">
                <label for="Βιβλιάριο Υγείας">Βιβλιάριο Υγείας</label>
                <input type="text" name="*metadata.Legal.Βιβλιάριο Υγείας" class="form-control">
              </div>

              <div class="form-group col">
                <label for="Νέος Υπάλληλος">Νέος Υπάλληλος</label>
                <input type="text" name="*metadata.Legal.Νέος Υπάλληλος" class="form-control">
              </div>

              <div class="form-group col">
                <label for="BANK">Bank</label>
                <input type="text" name="*metadata.Legal.Bank" class="form-control">
              </div>
              <div class="form-group col">
                <label for="BIC/SWIFT">BIC/SWIFT</label>
                <input type="text" name="*metadata.Legal.BIC/SWIFT" class="form-control">
              </div>
              <div class="form-group col">
                <label for="IBAN">IBAN</label>
                <input type="text" name="*metadata.Legal.IBAN" class="form-control">
              </div>
            </div>            
          <h4>1st Note:</h4>
            <hr></hr>
            <div class="form-row">
              <div class="form-group col">
                <label for="1stNote">{% set NOW = '' | now %}</label>
                <input type="text" name="*Notes.{{NOW}}.comment" class="form-control" placeholder="1stNote">
                <input type="hidden" name="*Notes.{{NOW}}.User" class="form-control" value="{{ payload['session']['username'] }}">
              </div>
            </div>
        <!--
            <h4>Employment Data</h4>
            <hr></hr>  
            <div class="form-row">
              <div class="form-group col">
                <label for="Hotel">Hotel</label>
                <input type="text" name="Hotel" class="form-control" placeholder="Hotel">
              </div>
              <div class="form-group col">
                  <label for="Department">Department</label>
                  <select id="jsdepartment" class="form-control" style="width: 100%;" name="states[]" multiple="multiple">>
                    <option value="AL">Cleaning</option>
                    <option value="WY">Bar</option>
                  </select>                
              </div>
              <div class="form-group col">
                  <label for="inputposition">Position</label>
                  <select id="jsposition" class="form-control" style="width: 100%;" name="states[]" multiple="multiple">>
                    <option value="AL">Meatre</option>
                    <option value="WY">Manager</option>
                  </select>                
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputschedule">Schedule</label>
                <input type="text" name="schedule" class="form-control" placeholder="Schedule">
              </div>
              <div class="form-group col">
                <label for="inputscheduleassignmentdate">Schedule Assignment Date</label>
                <input type="date" name="scheduleassignmentdate" class="form-control" placeholder="Schedule Assignment Date">
              </div>
              <div class="form-group col">
                <label for="inputstartworkingdate">Start working Date</label>
                <input type="date" name="startwordkingdate" class="form-control" placeholder="Start working Date">
              </div>
        -->
              {% set uuid_var = 'dump'|get_uuid %}
              <div class="form-group col">
                <label for="files">Upload Files</label>
                <input type="file" name="*Uploads.FILEUPLOAD.{{ uuid_var }}" class="form-control-file" placeholder="Upload Files">
              </div>
              <input type="hidden" name="unique_id" value="{{ uuid_var }}">
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Save</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>