requests
python-multipart
uvloop
uvicorn
aiofiles
asyncinit
Jinja2
asyncpg
databases
# python-bcrypt
# crypto
bcrypt
pycryptodome
python-jose
starlette[full]
starlette-csrf
starlette-session
# ray[default]
python-dotenv